<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-sm-6">
      <div class="page-title-box">
        <h4>Manage Ticket</h4>
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a routerLink="/panel/dashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/panel/view-tickets">View Tickets</a>
          </li>
          <li class="breadcrumb-item active">Manage Ticket</li>
        </ol>
      </div>
    </div>
    <div class="col-sm-6">
      <app-main-portal-time-date></app-main-portal-time-date>
    </div>
  </div>
  <!-- end page title -->

  <div class="row" *ngIf="ticketDetails">
    <div class="d-lg-flex">
      <div class="chat-leftsidebar card">
        <div class="chat-leftsidebar-nav">
          <ul class="nav nav-pills nav-justified bg-light m-3 rounded">
            <li class="nav-item">
              <a href="#details" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
                <i class="bx bx-group font-size-20 d-sm-none"></i>
                <span class="d-none d-sm-block">Details</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#action" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
                <i class="bx bx-chat font-size-20 d-sm-none"></i>
                <span class="d-none d-sm-block">Action</span>
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane show active" id="details">
              <div class="col-sm-12 card-body">
                <div class="mb-3">
                  <label class="form-label" for="clientStatus">Status</label>
                  <div>{{ getStatusDisplayName(ticketDetails.clientStatus) }}</div>
                </div>

                <div class="mb-3">
                  <label class="form-label" for="supportRequestType">Support Request Type</label>
                  <div>{{ getSupportTypeDisplayName(ticketDetails.supportRequestType) }}</div>
                </div>

                <div class="mb-3">
                  <label class="form-label" for="severity">Severity</label>
                  <div>{{ getSeverityDisplayName(ticketDetails.severity) }}</div>
                </div>

                <div class="mb-3">
                  <label class="form-label" for="affectedEnvironment">Product</label>
                  <div>{{ ticketDetails.product }}</div>
                </div>

                <div class="mb-3">
                  <label class="form-label" for="installationType">Installation Type</label>
                  <div>{{ getInstallationTypeDisplayName(ticketDetails.installationType) }}</div>
                </div>

                <div class="mb-3">
                  <label class="form-label" for="affectedEnvironment">Affected Environment</label>
                  <div>{{ getAffectedEnvironmentDisplayName(ticketDetails.affectedEnvironment) }}</div>
                </div>

                <div class="mb-3">
                  <label class="form-label" for="platformVersion">Platform Version</label>
                  <div>{{ ticketDetails.platformVersion }}</div>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="action">
              <div class="col-sm-12 card-body">
                <div class="mb-3">
                  <label class="form-label" for="clientStatus">Current Status</label>
                  <div>{{ getStatusDisplayName(ticketDetails.clientStatus) }}</div>
                </div>
                <form [formGroup]="changeStatusSubmitForm" (ngSubmit)="changeStatusDetailsSubmit()">
                  <div class="mb-3">
                    <label class="form-label" for="changeClientStatus">Ticket Status <span style="color: red">*</span></label>
                    <select (change)="onStatusChange($event)" [formControl]="statusControl" class="form-control form-select" name="changeClientStatus" id="changeClientStatus">
                      <option value="" selected>Select Ticket Status</option>
                      <option *ngFor="let status of clientStatus" [value]="status.enumName">{{ status.displayName }}</option>
                    </select>
                    <div class="error-msg" *ngIf="statusControl.touched && statusControl.invalid">
                      <i class="fa fa-times-circle"></i>
                      Please select Status
                    </div>
                    <div class="mb-3" *ngIf="showCloseReason">
                      <label class="form-label" for="closeReason">Close Reason<span style="color: red">*</span></label>
                      <textarea class="form-control" name="closeReason" id="closeReason" rows="10"></textarea>
                    </div>
                    <div class="mb-3 mt-2">
                      <button
                        [disabled]="changeStatusSubmitBtnClicked || getStatusDisplayName(ticketDetails.clientStatus) == 'Closed' || getStatusDisplayName(ticketDetails.clientStatus) == 'Solved'"
                        type="submit"
                        class="btn btn-primary w-md"
                      >
                        Change Status
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end chat-leftsidebar -->

      <div class="w-100 user-chat mt-4 mt-sm-0 ms-lg-3">
        <div class="card">
          <div class="p-3 px-lg-4 border-bottom" style="padding-bottom: 0px !important">
            <div class="row">
              <div class="col-xl-4 col-7">
                <div class="d-flex align-items-center">
                  <div class="flex-grow-1">
                    <h5 class="font-size-15 text-truncate">
                      <a href="#" class="text-reset"> {{ ticketDetails.subject }}</a>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="chat-conversation p-4" data-simplebar>
            <ul class="list-unstyled mb-0">
              <li [class.right]="message.sender == userType ? true : false" *ngFor="let message of messageList">
                <div class="conversation-list" style="width: 100%" *ngIf="message.sender == userType">
                  <div class="d-flex">
                    <div class="flex-1 me-3" style="width: 100%">
                      <div class="d-flex justify-content-between">
                        <span class="time fw-normal text-muted ms-0 ms-md-4">{{ message.createdAt | date : "medium" }}</span>
                        <h5 class="font-size-14 conversation-name align-middle">{{ message.sentBy }}</h5>
                      </div>
                      <div class="ctext-wrap">
                        <div class="ctext-wrap-content" style="width: 100%">
                          <p class="mb-0 text-start" *ngIf="message.content != '' && message.content != null && message.content != 'null'">{{ message.content }}</p>

                          <ul class="list-inline message-img mt-2 mb-0" *ngIf="message.attachments">
                            <li class="list-inline-item message-img-list" *ngFor="let attachment of message.attachments">
                              <a class="d-inline-block" href="{{ attachment }}" download="{{ attachment }}" target="_blank">
                                <img src="assets/images/small/download.png" alt="" />
                                <!-- <i class="mdi mdi-file img-thumbnail rounded" style="font-size: 25px; stroke-width: 0; padding-top: 2%; padding-bottom: 2%"></i> -->
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <img src="assets/images/users/user-4.png" class="rounded-circle avatar" alt="" />
                  </div>
                </div>
                <div class="conversation-list" *ngIf="message.sender != userType">
                  <div class="d-flex">
                    <img src="assets/images/users/user-2.png" class="rounded-circle avatar" alt="" />
                    <div class="flex-1 ms-3" style="width: 100%">
                      <div class="d-flex justify-content-between">
                        <h5 class="font-size-14 conversation-name align-middle">{{ message.sentBy }}</h5>
                        <span class="time fw-normal text-muted me-0 me-md-4">{{ message.createdAt | date : "medium" }}</span>
                      </div>
                      <div class="ctext-wrap">
                        <div class="ctext-wrap-content" style="width: 100%">
                          <p class="mb-0 text-start" *ngIf="message.content != '' && message.content != null && message.content != 'null'">{{ message.content }}</p>

                          <ul class="list-inline message-img mt-2 mb-0" *ngIf="message.attachments">
                            <li class="list-inline-item message-img-list" *ngFor="let attachment of message.attachments">
                              <a class="d-inline-block" href="{{ attachment }}" download="{{ attachment }}" target="_blank">
                                <img src="assets/images/small/download.png" alt="" />
                                <!-- <i class="mdi mdi-file img-thumbnail rounded" style="font-size: 25px; stroke-width: 0; padding-top: 2%; padding-bottom: 2%"></i> -->
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <span #chatContainer></span>
            </ul>
          </div>

          <div class="p-3 border-top">
            <form [formGroup]="msgSubmitForm" (ngSubmit)="sendMsg()">
              <div class="row">
                <div class="col">
                  <div class="position-relative">
                    <input type="text" [formControl]="messagesControl" class="form-control border chat-input" placeholder="Enter Message..." />
                    <ngx-dropzone (change)="onSelect($event)" class="mt-1">
                      <ngx-dropzone-label
                        ><i class="mdi mdi-cloud-download-outline" style="font-size: 35px; stroke-width: 0"></i>
                        <br />
                        <span style="font-size: 13px">Drop your files to here or click to upload </span></ngx-dropzone-label
                      >
                      <ngx-dropzone-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>
                          <ng-container *ngIf="f.type.includes('image/'); else notImage">
                            <i class="mdi mdi-image" style="font-size: 20px"></i>
                          </ng-container>
                          <ng-template #notImage>
                            <i class="mdi mdi-file" style="font-size: 20px"></i>
                          </ng-template>
                          <br />
                          <span style="font-size: 9px">{{ f.name }}</span>
                        </ngx-dropzone-label>
                      </ngx-dropzone-preview>
                    </ngx-dropzone>
                    <div class="error-msg" *ngIf="messageErrorStatus">
                      <i class="fa fa-times-circle"></i>
                      Please enter message or add attachment
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <button
                    [disabled]="sendMsgSubmitBtnClicked || getStatusDisplayName(ticketDetails.clientStatus) == 'Closed' || getStatusDisplayName(ticketDetails.clientStatus) == 'Solved'"
                    type="submit"
                    class="btn btn-primary chat-send w-md waves-effect waves-light"
                  >
                    <span class="d-none d-sm-inline-block me-2">Send</span> <i class="mdi mdi-send float-end"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- end user chat -->
    </div>
  </div>
  <!-- end row -->
</div>
