<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="card-body pt-0">
            <h3 class="text-center mt-5 mb-4">
              <a href="index.html" class="d-block auth-logo">
                <img src="assets/images/logo-dark1.png" alt="" height="30" class="auth-logo-dark" />
                <img src="assets/images/logo-light1.png" alt="" height="30" class="auth-logo-light" />
              </a>
            </h3>

            <div class="p-3">
              <h4 class="text-muted font-size-18 mb-1 text-center">Welcome Back !</h4>
              <p class="text-muted text-center">Sign in to continue to Kore Support.</p>
              <form class="form-horizontal mt-4" [formGroup]="logInSubmitForm" (ngSubmit)="logInUser()">
                <div class="mb-3">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" [formControl]="emailControl" id="email" placeholder="Enter email" />
                  <div class="error-msg" *ngIf="emailControl.touched && emailControl.invalid">
                    <i class="fa fa-times-circle"></i>
                    Please enter your email
                  </div>
                </div>
                <div class="mb-3">
                  <label for="userpassword">Password</label>
                  <input type="password" class="form-control" id="userpassword" [formControl]="userpasswordControl" placeholder="Enter password" />
                  <div class="error-msg" *ngIf="userpasswordControl.touched && userpasswordControl.invalid">
                    <i class="fa fa-times-circle"></i>
                    Please enter your password
                  </div>
                </div>
                <div class="mb-3 row mt-4">
                  <div class="col-12">
                    <button [disabled]="loggedBtnClicked" class="btn btn-primary w-md waves-effect waves-light" type="submit">Log In</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
