<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-sm-6">
      <div class="page-title-box">
        <h4>Assign Role</h4>
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a routerLink="/panel/dashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Assign Role</li>
        </ol>
      </div>
    </div>
    <div class="col-sm-6">
      <app-main-portal-time-date></app-main-portal-time-date>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="col-sm-12" style="text-align: center">
            <button
              [ngClass]="{ 'btn-primary': selectedUserType != 'virtusa', 'btn-secondary': selectedUserType == 'virtusa' }"
              type="button"
              class="btn btn-primary waves-effect waves-light"
              (click)="changeSelectedUserType('virtusa')"
              style="margin-left: 3px"
            >
              Virtusa Users
            </button>
            <button
              [ngClass]="{ 'btn-primary': selectedUserType != 'kore', 'btn-secondary': selectedUserType == 'kore' }"
              type="button"
              class="btn btn-primary waves-effect waves-light"
              (click)="changeSelectedUserType('kore')"
              style="margin-left: 3px"
            >
              Kore Users
            </button>
          </div>
          <div class="error-msg" *ngIf="userRoleControl.touched && userRoleControl.invalid">
            <i class="fa fa-times-circle"></i>
            Please select a role
          </div>
          <table class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%; margin-top: 1%">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th style="text-align: left">Role</th>
                <th style="text-align: center"></th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let user of userList">
                <td>
                  <a href="">{{ user.name }}</a>
                </td>
                <td>{{ user.email }}</td>
                <td style="text-align: left">
                  <div style="margin-top: 3px" *ngFor="let role of user.roles">{{ role }}</div>
                </td>
                <td align="center" style="width: 20%">
                  <!-- <span style="display: flex; align-items: center">
                    <select [formControl]="userRoleControl" class="form-control form-select" name="userRole" id="userRole" style="width: 100%">
                      <option value="" selected>Select Role</option>
                      <option *ngFor="let role of userRoles" [value]="role.enumName">{{ role.displayName }}</option>
                    </select>

                    <button [disabled]="userRoleUpdateBtnIsDisable" (click)="updateRole(user.id)" style="width: max-content; margin-left: 3px" type="button" class="btn btn-info waves-effect waves-light">
                      <i class="mdi mdi-check"></i>
                    </button>
                  </span> -->
                  <div class="form-check form-switch form-switch-md mb-2" dir="ltr">
                    <input type="checkbox" class="form-check-input" id="adminSwitch" [checked]="user.roles.includes('ADMIN')" (click)="updateUserRole(user.id, user.roles, 'ADMIN', user.roles.includes('ADMIN'))" />
                    <label class="form-check-label" for="adminSwitch">ADMIN </label>
                  </div>
                  <div class="form-check form-switch form-switch-md mb-2" dir="ltr">
                    <input type="checkbox" class="form-check-input" id="levelOneSwitch" [checked]="user.roles.includes('LEVEL-1')" (click)="updateUserRole(user.id, user.roles, 'LEVEL-1', user.roles.includes('LEVEL-1'))" />
                    <label class="form-check-label" for="levelOneSwitch">LEVEL-1</label>
                  </div>
                  <div class="form-check form-switch form-switch-md mb-2" dir="ltr">
                    <input type="checkbox" class="form-check-input" id="levelTwoSwitch" [checked]="user.roles.includes('LEVEL-2')" (click)="updateUserRole(user.id, user.roles, 'LEVEL-2', user.roles.includes('LEVEL-2'))" />
                    <label class="form-check-label" for="levelTwoSwitch">LEVEL-2</label>
                  </div>
                  <div class="form-check form-switch form-switch-md mb-2" dir="ltr">
                    <input type="checkbox" class="form-check-input" id="levelThreeSwitch" [checked]="user.roles.includes('LEVEL-3')" (click)="updateUserRole(user.id, user.roles, 'LEVEL-3', user.roles.includes('LEVEL-3'))" />
                    <label class="form-check-label" for="levelThreeSwitch">LEVEL-3</label>
                  </div>
                  <div class="form-check form-switch form-switch-md mb-2" dir="ltr">
                    <input type="checkbox" class="form-check-input" id="levelFourSwitch" [checked]="user.roles.includes('LEVEL-4')" (click)="updateUserRole(user.id, user.roles, 'LEVEL-4', user.roles.includes('LEVEL-4'))" />
                    <label class="form-check-label" for="levelFourSwitch">LEVEL-4</label>
                  </div>
                  <div class="form-check form-switch form-switch-md mb-2" dir="ltr">
                    <input type="checkbox" class="form-check-input" id="defaultSwitch" [checked]="user.roles.includes('DEFAULT')" (click)="updateUserRole(user.id, user.roles, 'DEFAULT', user.roles.includes('DEFAULT'))" />
                    <label class="form-check-label" for="levelFourSwitch">DEFAULT</label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(currentPage - 1)" tabindex="-1">Prev</a>
              </li>
              <li class="page-item" *ngFor="let page of pages" [class.active]="currentPage === page">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(page)">{{ page }}</a>
              </li>
              <li class="page-item" [class.disabled]="currentPage === totalPages">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(currentPage + 1)">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
