<div class="btn-group mt-2 mb-4 d-flex" role="group" aria-label="Basic example">
  <button routerLinkActive="active" routerLink="/panel/affected-environment-management/create-affected-environment" type="button" class="btn btn-secondary w-100">Create Affected Environment</button>
  <button routerLinkActive="active" routerLink="/panel/affected-environment-management/view-affected-environment" type="button" class="btn btn-secondary w-100">View Affected Environments</button>
</div>
<router-outlet> </router-outlet>
