<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-sm-6">
      <div class="page-title-box">
        <h4>Submit a Ticket</h4>
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a routerLink="/panel/dashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Submit a Ticket</li>
        </ol>
      </div>
    </div>
    <div class="col-sm-6">
      <app-main-portal-time-date></app-main-portal-time-date>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Create Ticket</h4>
          <div class="row">
            <div class="col-lg-12">
              <div class="mt-4">
                <h5 class="font-size-14 mb-4"><i class="mdi mdi-arrow-right text-primary me-1"></i> Submit a Request</h5>
                <form [formGroup]="ticketSubmitForm" (ngSubmit)="createTicket()">
                  <div class="mb-3">
                    <label class="form-label" for="ccEmailAddress">CC Email Addreses</label>
                    <input [formControl]="ccEmailControl" type="email" class="form-control" id="ccEmailAddress" placeholder="Enter your CC emails" />
                  </div>

                  <div class="mb-3">
                    <label class="form-label" for="supportRequestType">Support Request Type <span style="color: red">*</span></label>
                    <select [formControl]="supportRequestTypeControl" class="form-control form-select" name="supportRequestType" id="supportRequestType">
                      <option value="" selected>Select Support Request Type</option>
                      <option *ngFor="let supportRequestType of supportRequestTypes" [value]="supportRequestType.enumName">{{ supportRequestType.displayName }}</option>
                    </select>
                    <div class="error-msg" *ngIf="supportRequestTypeControl.touched && supportRequestTypeControl.invalid">
                      <i class="fa fa-times-circle"></i>
                      Please select support request type
                    </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label" for="subject">Subject <span style="color: red">*</span></label>
                    <input [formControl]="subjectControl" type="text" class="form-control" id="subject" placeholder="Enter your subject" />
                    <div class="error-msg" *ngIf="subjectControl.touched && subjectControl.invalid">
                      <i class="fa fa-times-circle"></i>
                      Please enter subject of the ticket
                    </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label" for="description">Description <span style="color: red">*</span></label>
                    <textarea [formControl]="descriptionControl" class="form-control" name="description" id="description"></textarea>
                    <div class="error-msg" *ngIf="descriptionControl.touched && descriptionControl.invalid">
                      <i class="fa fa-times-circle"></i>
                      Please enter description of the ticket
                    </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label" for="severity">Severity <span style="color: red">*</span></label>
                    <select [formControl]="severityControl" class="form-control form-select" name="severity" id="severity">
                      <option value="" selected>Select Severity</option>
                      <option *ngFor="let severity of severities" [value]="severity.enumName">{{ severity.displayName }}</option>
                    </select>
                    <div class="error-msg" *ngIf="severityControl.touched && severityControl.invalid">
                      <i class="fa fa-times-circle"></i>
                      Please select severity
                    </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label" for="product">Product <span style="color: red">*</span></label>
                    <select [formControl]="productControl" class="form-control form-select" name="product" id="product">
                      <option value="" selected>Select Product</option>
                      <option *ngFor="let product of products" [value]="product.enumName">{{ product.displayName }}</option>
                    </select>
                    <div class="error-msg" *ngIf="productControl.touched && productControl.invalid">
                      <i class="fa fa-times-circle"></i>
                      Please select product
                    </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label" for="installationType">Installation Type <span style="color: red">*</span></label>
                    <select [formControl]="installationTypeControl" class="form-control form-select" name="installationType" id="installationType">
                      <option value="" selected>Select Installation Type</option>
                      <option *ngFor="let installationType of installationTypes" [value]="installationType.enumName">{{ installationType.displayName }}</option>
                    </select>
                    <div class="error-msg" *ngIf="installationTypeControl.touched && installationTypeControl.invalid">
                      <i class="fa fa-times-circle"></i>
                      Please select installation type
                    </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label" for="affectedEnvironment">Affected Environment <span style="color: red">*</span></label>
                    <select [formControl]="affectedEnvironmentControl" class="form-control form-select" name="affectedEnvironment" id="affectedEnvironment">
                      <option value="" selected>Select Affected Environment</option>
                      <option *ngFor="let environment of environments" [value]="environment.enumName">{{ environment.displayName }}</option>
                    </select>
                    <div class="error-msg" *ngIf="affectedEnvironmentControl.touched && affectedEnvironmentControl.invalid">
                      <i class="fa fa-times-circle"></i>
                      Please select affected environment
                    </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label" for="platformVersion">Platform Version <span style="color: red">*</span></label>
                    <input [formControl]="platformVersionControl" type="text" class="form-control" id="platformVersion" placeholder="Enter your platform version" />
                    <div class="error-msg" *ngIf="platformVersionControl.touched && platformVersionControl.invalid">
                      <i class="fa fa-times-circle"></i>
                      Please enter platform version
                    </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label" for="attachments">Attachments</label>
                    <ngx-dropzone (change)="onSelect($event)">
                      <ngx-dropzone-label
                        ><i class="mdi mdi-cloud-download-outline" style="font-size: 50px; stroke-width: 0"></i>
                        <br />
                        <span style="font-size: 14px">Drop your files to here or click to upload </span></ngx-dropzone-label
                      >
                      <ngx-dropzone-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>
                          <ng-container *ngIf="f.type.includes('image/'); else notImage">
                            <i class="mdi mdi-image" style="font-size: 36px"></i>
                          </ng-container>
                          <ng-template #notImage>
                            <i class="mdi mdi-file" style="font-size: 36px"></i>
                          </ng-template>
                          <br />
                          <span style="font-size: 12px">{{ f.name }}</span>
                        </ngx-dropzone-label>
                      </ngx-dropzone-preview>
                    </ngx-dropzone>
                  </div>

                  <div class="mt-4">
                    <button [disabled]="createTicketSubmitBtnClicked" type="submit" class="btn btn-primary w-md">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- end row -->
        </div>
      </div>
    </div>
  </div>
</div>
