<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-sm-6">
      <div class="page-title-box">
        <h4>Create User</h4>
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a routerLink="/panel/dashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Create User</li>
        </ol>
      </div>
    </div>
    <div class="col-sm-6">
      <app-main-portal-time-date></app-main-portal-time-date>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Create User</h4>
          <div class="row">
            <div class="col-lg-12">
              <div class="mt-4">
                <h5 class="font-size-14 mb-4"><i class="mdi mdi-arrow-right text-primary me-1"></i> Submit a User Details</h5>
                <form [formGroup]="userSubmitForm" (ngSubmit)="createUser()">
                  <div class="mb-3">
                    <label class="form-label" for="firstName">First Name</label>
                    <input [formControl]="firstNameControl" type="text" class="form-control" id="firstName" placeholder="Enter your first name" />
                    <div class="error-msg" *ngIf="firstNameControl.touched && firstNameControl.invalid">
                      <i class="fa fa-times-circle"></i>
                      Please enter first name
                    </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label" for="lastName">Last Name</label>
                    <input [formControl]="lastNameControl" type="text" class="form-control" id="lastName" placeholder="Enter your last name" />
                    <div class="error-msg" *ngIf="lastNameControl.touched && lastNameControl.invalid">
                      <i class="fa fa-times-circle"></i>
                      Please enter last name
                    </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label" for="emailAddress">Email</label>
                    <input [formControl]="emailAddressControl" type="email" class="form-control" id="emailAddress" placeholder="Enter your email" />
                    <div class="error-msg" *ngIf="emailAddressControl.touched && emailAddressControl.invalid">
                      <i class="fa fa-times-circle"></i>
                      Please enter email address
                    </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label" for="phoneNumber">Phone Number</label>
                    <input [formControl]="phoneNumberControl" type="email" class="form-control" id="phoneNumber" placeholder="Enter your phone number" />
                    <div class="error-msg" *ngIf="phoneNumberControl.touched && phoneNumberControl.invalid">
                      <i class="fa fa-times-circle"></i>
                      Please enter phone number
                    </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input [formControl]="passwordControl" type="password" class="form-control" id="password" placeholder="Enter your password" />
                    <div class="error-msg" *ngIf="passwordControl.touched && passwordControl.invalid">
                      <i class="fa fa-times-circle"></i>
                      Please enter password
                    </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label" for="confirmPassword">Confirm</label>
                    <input [formControl]="confirmPasswordControl" type="password" class="form-control" id="confirmPassword" placeholder="Enter your password again" />
                    <div class="error-msg" *ngIf="confirmPasswordControl.touched && confirmPasswordControl.invalid">
                      <i class="fa fa-times-circle"></i>
                      Please enter confirm password
                    </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label" for="userGroup">User Group</label>
                    <select [formControl]="userGroupControl" class="form-control form-select" name="userGroup" id="userGroup">
                      <option value="" selected>Select User Group</option>
                      <option value="Group1">Group 1</option>
                      <option value="Group2">Group 2</option>
                      <option value="Group3">Group 3</option>
                      <option value="Group4">Group 4</option>
                    </select>
                    <div class="error-msg" *ngIf="userGroupControl.touched && userGroupControl.invalid">
                      <i class="fa fa-times-circle"></i>
                      Please select user group
                    </div>
                  </div>

                  <div class="mt-4">
                    <button type="submit" class="btn btn-primary w-md">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- end row -->
        </div>
      </div>
    </div>
  </div>
</div>
