<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-sm-6">
      <div class="page-title-box">
        <h4>Dashboard</h4>
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </div>
    </div>
    <div class="col-sm-6">
      <app-main-portal-time-date></app-main-portal-time-date>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <div class="col-xl-3 col-sm-6">
      <div class="card mini-stat bg-primary">
        <div class="card-body mini-stat-img">
          <div class="mini-stat-icon">
            <i class="mdi mdi-cube-outline float-end"></i>
          </div>
          <div class="text-white">
            <h6 class="text-uppercase mb-3 font-size-16 text-white">All Open Tikcets</h6>
            <h2 class="mb-4 text-white">5</h2>
            <!-- <span class="badge bg-info"> +11% </span> -->
            <span class="ms-2">All my open tickets</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6">
      <div class="card mini-stat bg-primary">
        <div class="card-body mini-stat-img">
          <div class="mini-stat-icon">
            <i class="mdi mdi-buffer float-end"></i>
          </div>
          <div class="text-white">
            <h6 class="text-uppercase mb-3 font-size-16 text-white">All Awaiting to Reply</h6>
            <h2 class="mb-4 text-white">2</h2>
            <!-- <span class="badge bg-danger"> -29% </span> -->
            <span class="ms-2">All your Awaiting to Reply Tikctes</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6">
      <div class="card mini-stat bg-primary">
        <div class="card-body mini-stat-img">
          <div class="mini-stat-icon">
            <i class="mdi mdi-tag-text-outline float-end"></i>
          </div>
          <div class="text-white">
            <h6 class="text-uppercase mb-3 font-size-16 text-white">High Severity Open</h6>
            <h2 class="mb-4 text-white">2</h2>
            <!-- <span class="badge bg-warning"> 0% </span> -->
            <span class="ms-2">High Severity Open Tickets</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6">
      <div class="card mini-stat bg-primary">
        <div class="card-body mini-stat-img">
          <div class="mini-stat-icon">
            <i class="mdi mdi-briefcase-check float-end"></i>
          </div>
          <div class="text-white">
            <h6 class="text-uppercase mb-3 font-size-16 text-white">High Severity Pending</h6>
            <h2 class="mb-4 text-white">1</h2>
            <!-- <span class="badge bg-info"> +89% </span> -->
            <span class="ms-2">High Severity Awaiting To Reply Tickets</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
