<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-sm-6">
      <div class="page-title-box">
        <h4>View Tickets</h4>
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a routerLink="/panel/dashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">View Tickets</li>
        </ol>
      </div>
    </div>
    <div class="col-sm-6">
      <app-main-portal-time-date></app-main-portal-time-date>
    </div>
  </div>
  <!-- end page title -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="col-sm-12" style="text-align: right; padding-bottom: 1%">
            <!-- <div class="row"> -->
            <button class="btn btn-primary" [ngClass]="{ 'btn-primary': fetchTicketType != 'normal', 'btn-secondary': fetchTicketType == 'normal' }" (click)="getAllTicketsData('normal')" style="margin-right: 3px">View My Ticket</button>
            <button class="btn btn-primary" style="margin-right: 3px" [ngClass]="{ 'btn-primary': fetchTicketType != 'all', 'btn-secondary': fetchTicketType == 'all' }" (click)="getAllTicketsData('all')" *ngIf="userRole == 'ADMIN'">
              View All Ticket
            </button>
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-primary dropdown-toggle"
                [ngClass]="{
                  'btn-primary': fetchTicketType != 'SEVERITY_1' && fetchTicketType != 'SEVERITY_2' && fetchTicketType != 'SEVERITY_3' && fetchTicketType != 'SEVERITY_4',
                  'btn-secondary': fetchTicketType == 'SEVERITY_1' || fetchTicketType == 'SEVERITY_2' || fetchTicketType == 'SEVERITY_3' || fetchTicketType == 'SEVERITY_4'
                }"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                View Tickets By Severity <i class="mdi mdi-chevron-down"></i>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" style="cursor: pointer" *ngFor="let severityLevel of severityDropDown" (click)="getAllTicketsData(severityLevel)">{{ getSeverityDisplayName(severityLevel) }}</a>
              </div>
            </div>
            <!-- </div> -->
          </div>
          <table class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%">
            <thead>
              <tr>
                <th>Ticket ID</th>
                <th>Created Date</th>
                <th>Request Type</th>
                <th>Subject</th>
                <th>Severity</th>
                <th>Waiting Time</th>
                <th>Reopen</th>
                <th>Status</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let ticket of ticketList">
                <td>
                  <a routerLink="/panel/manage-ticket/{{ ticket.id }}">{{ ticket.id }}</a>
                </td>
                <td>{{ ticket.createdAt | date : "dd-MM-yyyy" }}</td>
                <td>{{ getSupportTypeDisplayName(ticket.supportRequestType) }}</td>
                <td>
                  <a routerLink="/panel/manage-ticket/{{ ticket.id }}">{{ ticket.subject }}</a>
                </td>
                <td>{{ getSeverityDisplayName(ticket.severity) }}</td>
                <td align="center">
                  <button type="button" class="btn btn-primary btn-sm waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#staticBackdropWaitingTime" (click)="waitingTime(ticket.id)">View</button>
                </td>
                <td align="center">
                  <button
                    *ngIf="userType == 'client'"
                    type="button"
                    [ngClass]="{ 'btn-warning': getStatusDisplayName(ticket.clientStatus) == 'Closed', 'btn-secondary': getStatusDisplayName(ticket.clientStatus) != 'Closed' }"
                    class="btn btn-warning btn-sm waves-effect waves-light"
                    data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop"
                    [disabled]="getStatusDisplayName(ticket.clientStatus) == 'Closed' ? false : true"
                    (click)="reopenTicket(ticket.id)"
                  >
                    Reopen
                  </button>
                  <button
                    *ngIf="userType == 'vendor'"
                    type="button"
                    [ngClass]="{ 'btn-warning': getStatusDisplayName(ticket.clientStatus) == 'Closed', 'btn-secondary': getStatusDisplayName(ticket.clientStatus) != 'Closed' }"
                    class="btn btn-warning btn-sm waves-effect waves-light"
                    data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop"
                    [disabled]="getStatusDisplayName(ticket.vendorStatus) == 'Closed' ? false : true"
                    (click)="reopenTicket(ticket.id)"
                  >
                    Reopen
                  </button>
                </td>

                <td align="center">
                  <span
                    [class.open-status]="ticket.clientStatus == 'OPEN'"
                    [class.close-status]="ticket.clientStatus == 'CLOSED'"
                    [class.solve-status]="ticket.clientStatus == 'SOLVED'"
                    [class.waiting-status]="ticket.clientStatus == 'AWAITING_REPLY'"
                    *ngIf="userType == 'client'"
                    >{{ getStatusDisplayName(ticket.clientStatus) }}</span
                  >
                  <span
                    [class.open-status]="ticket.vendorStatus == 'OPEN'"
                    [class.close-status]="ticket.vendorStatus == 'CLOSED'"
                    [class.solve-status]="ticket.vendorStatus == 'SOLVED'"
                    [class.waiting-status]="ticket.vendorStatus == 'AWAITING_REPLY'"
                    *ngIf="userType == 'vendor'"
                    >{{ getStatusDisplayName(ticket.vendorStatus) }}</span
                  >
                </td>
              </tr>
            </tbody>
          </table>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(currentPage - 1)" tabindex="-1">Prev</a>
              </li>
              <li class="page-item" *ngFor="let page of pages" [class.active]="currentPage === page">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(page)">{{ page }}</a>
              </li>
              <li class="page-item" [class.disabled]="currentPage === totalPages">
                <a class="page-link" href="javascript:void(0);" (click)="setPage(currentPage + 1)">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <!-- Model  -->
      <!-- Model  -->
      <!-- Model  -->
      <!-- Model  -->

      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <form [formGroup]="reopenTicketSubmitForm" (ngSubmit)="reopenTicketDetailsSubmit()">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Reopen Ticket - Ticket No {{ reopenTicketId }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label class="form-label" for="reopenReason">Reason <span style="color: red">*</span></label>
                  <textarea [formControl]="reopenReasonControl" class="form-control" name="reopenReason" id="reopenReason"></textarea>
                  <div class="error-msg" *ngIf="reopenReasonControl.touched && reopenReasonControl.invalid">
                    <i class="fa fa-times-circle"></i>
                    Please enter reason for reopening the ticket
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button #closeButton type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">Close</button>
                <button [disabled]="reopenSubmitBtnClicked" type="submit" class="btn btn-primary waves-effect waves-light">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="modal fade" id="staticBackdropWaitingTime" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <form [formGroup]="reopenTicketSubmitForm" (ngSubmit)="reopenTicketDetailsSubmit()">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Waiting Time according to attempt - Ticket No {{ waitingTicketId }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label class="form-label" for="attemptCount">Attempt </label>
                  <select #attemptDropdown class="form-control form-select" name="attemptCount" id="attemptCount" (change)="getVendorWaitingTimeByAttempt($event)">
                    <option value="" selected>Select Attempt</option>
                    <option *ngFor="let i of [].constructor(maxAttempt); let index = index" [value]="index + 1">Attempt {{ index + 1 }}</option>
                  </select>
                </div>
                <div class="mb-3" *ngIf="finalVendorWaitingTime">
                  <label class="form-label" for="waitingTime"> Vendor Waiting Time </label>
                  <div class="waiting-time-msg" style="text-align: center">
                    <!-- <i class="fa fa-clock"></i> -->
                    <span style="text-transform: capitalize"> {{ finalVendorWaitingTime.duration }}</span>
                  </div>
                </div>
                <div class="mb-3" *ngIf="finalClientWaitingTime">
                  <label class="form-label" for="waitingTime"> Client Waiting Time </label>
                  <div class="waiting-time-msg" style="text-align: center">
                    <!-- <i class="fa fa-clock"></i> -->
                    <span style="text-transform: capitalize"> {{ finalClientWaitingTime.duration }}</span>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button #closeButton type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- Model  -->
      <!-- Model  -->
      <!-- Model  -->
      <!-- Model  -->
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
